<h1>Create new list</h1>

<%= form_with(model: [@board, @list], local: true) do |f| %>
<div class="field">
  <%= f.label :name %>
  <%= f.text_field :name, required: true, autofocus: true %>
</div>
<br>
<%= f.submit %>

<% end %>